// Bookmark Start
.bookmark.pull-right
    ul
        li
            a(href='#' data-bs-container='body', data-bs-toggle='popover', data-bs-placement='top', title='', data-original-title='Tables')
                i(data-feather='inbox')
        li
            a(href='#' data-bs-container='body', data-bs-toggle='popover', data-bs-placement='top', title='', data-original-title='Chat')
                i(data-feather='message-square')
        li
            a(href='#' data-bs-container='body', data-bs-toggle='popover', data-bs-placement='top', title='', data-original-title='Icons')
                i(data-feather='command')
        li
            a(href='#' data-bs-container='body', data-bs-toggle='popover', data-bs-placement='top', title='', data-original-title='Learning')
                i(data-feather='layers')
        li
            a(href='#')
                i.bookmark-search(data-feather='star')
            form.form-inline.search-form
                .mb-3.form-control-search.form-group
                    input(type='text', placeholder='Search..')
// Bookmark Ends
